/* All Pages */

body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../static/images/groucho_beer_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2 {
    text-align: center;
    color: #ede4c7;
    text-shadow:
    -1.15px -1.15px 0 #554535,
    1.15px -1.15px 0 #554535,
    -1.15px 1.15px 0 #554535,
    1.15px 1.15px 0 #554535; 
}

 h3, h4, p, a {
    color: #ede4c7;
    text-shadow:
    -1px -1px 0 #554535,
    1px -1px 0 #554535,
    -1px 1px 0 #554535,
    1px 1px 0 #554535; 
}

p, a {
    font-size: 1.15em;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    margin: 5px;
    border: 5px solid #ede4c7;
}

.top-menu {
    padding: 5px;
    margin: 5px; 
}

/* Forms Input */

input {
    color: #554535;
}

a.btn {
    color: #554535;
    text-shadow: none;
}

p.btn {
    color: #554535;
    text-shadow: none;
}


/* Landing Page Specific */

.beer_categories h4 {
    text-align: center;
    font-size: 1.25em;
}

.beer_categories a {
    text-align: center;
    font-size: 1.5em;
}

.btn-group-justified{
    padding: 1px;
    margin: 1px;
}

.all_image, {
    padding: 5px;
    margin: 5px;
}

.current_style h2 {
    padding-top: 30px;
    margin-top: 30px; 
}

.create_new_beer {
    padding-bottom: 10px;
    padding-left: 20px;
    margin-bottom: 10px; 
    margin-left: 20px;
}

.truncate {
    max-height: 80px;
    max-width: 250ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flashes {
    text-align: center;
    color: red;
    font-size: 1.15em;
    background-color: #554535;
}


/* Beer Specific Page Specific */

.price_ibu_abv {
    display: inline-flex;
}

.specific_image, .specific_description {
    text-align: center;
}
