/* All Pages */

body {
    background-image: url("../static/images/groucho_beer_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, p, a {
    color: #ede4c7;
    text-shadow:
    -1.2px -1.2px 0 #554535,
    1.2px -1.2px 0 #554535,
    -1.2px 1.2px 0 #554535,
    1.2px 1.2px 0 #554535; 
}

h1, h2 {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    margin: 5px;
    border: 5px solid #ede4c7;
}

p {
    font-size: 1.15em;
}

a:hover { 
    color: #ac5d01;
}


/* Forms Input */

input {
    color: #554535;
}


/* Landing Page Specific */

.beer_categories h3 {
    color: #ede4c7;
    background-color: #554535;
    border: 5px solid #ede4c7;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.beer_categories h3:hover {
    color: #ac5d01;
}

.list_of_beers a:link {
    color: #554535;
}

.all_image, .create_new_beer {
    padding: 5px;
    margin: 5px;
}

.list_of_beers img:hover {
    opacity: 0.5;
}


/* Beer Specific Page Specific */

.price_ibu_abv {
    display: inline-flex;
}

.specific_image, .specific_description {
    text-align: center;
}
