<title>Edit a Specific Beer</title>

{% extends "main.html" %}
{% block content %}

    <h1>Edit "{{item.name}}"</h1>
    <!-- The placeholders will be prepopulated values -->
    <form action="#" method = "post">
        <p>Name
            </br>
            <input type="text" name="Name" id="#" value="{{item.name}}">
        </p>
        <p>Description
            </br>
            <textarea>{{item.description}}</textarea>
        </p>
        <!--
        <p>Picture Path
            </br>
            <input type="text" name="Picture Path" id="#" value="{{item.picture_path}}">
        </p>
        -->
        <p>Price
            </br>
            <input type="text" name="Price" id="#" value="{{item.price}}">
        </p>
        <p>IBU
            </br>
            <input type="number" step=".01" name="IBU" min="0" max="100" value="{{item.ibu}}" required="">
        </p>
        <p>ABV
            </br>
            <input type="number" step=".01" name="ABV" min="0" max="100" value="{{item.abv}}" required="">
        </p>
        <p>Category
            <select name="category" value="category" required="">
                <option value=""></option>
                <option value="ipa">IPA</option>
                <option value="lager">Lager</option>
                <option value="pale ale">Pale Ale</option>
                <option value="porter">Porter</option>
                <option value="stout">Stout</option>
                <option value="triple">Triple</option>
                <option value="wheat">Wheat</option>
            </select>
        </p>
        <input type="submit" name="edit" id="submit_edit" value="Save Edit">
        <a href="{{url_for('showSpecificBeer', item_id = item.id)}}">Cancel</a>
    </form> 

{% endblock %}
