<!DOCTYPE html>
<html>
    <head>
        <title>Edit a Specific Beer</title>
    </head>
    <body>
        <h1>Edit "item_name"</h1>
        <form action="#" method = "#">
            <p>Name
                </br>
                <input type="text" name="Name" id="#" value="#">
            </p>
            
            <p>Description
                </br>
                <textarea></textarea>
            </p>
            
            <p>Picture Path
                </br>
                <input type="text" name="Picture Path" id="#" value="#">
            </p>
            
            <p>Price
                </br>
                <input type="text" name="Price" id="#" value="#">
            </p>
            
            <p>IBU
                </br>
                <input type="number" name="IBU" min="0" max="100">
            </p>

            <p>ABV
                </br>
                <input type="number" name="ABV" min="0" max="100">
            </p>

            <p>Category
                </br>
                <input type="radio" name="Category" id="#" value="#">
            </p>

            <input type="submit" name="#" id="#" value="Save Edit">
            <input type="submit" name="#" id="#" value="Cancel">
        </form> 
    </body>
</html>
