<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('showAllBeers')}}" class="btn btn-default">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Back to All Beers
        </a>
    </div>
    <div class="col-md-6 text-right">
        <!-- Google Sign-In Button
        {% if True %}
            <div id="signInButton">
              <span class="g-signin"
                data-scope="openid email"
                data-clientid="13140951618-15nik769cellkubaqnjk5facdib2dh4d.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="signInCallback"
                data-approvalprompt="force">
              </span>
            </div>
        {% else %}
            <a href="{{url_for('showAllBeers')}}">Logout</a>
        {% endif %}  
        -->
        {% if isLoggedIn %}
            <form action="/logout" method="GET">
                <input type="submit" value="Logout" class="btn btn-default">
            </form>
        {% else %}
            <form action="/login" method="GET">
                <input type="submit" value="Login" class="btn btn-default">
            </form>
        {% endif %}         
    </div>
</div>
