<title>Create a New Beer</title>

{% extends "main.html" %}
{% block content %}

    <h1>Create a New Beer</h1>
    <!-- The placeholders are a suggestion of possible values -->
    <form action="#" method = "post">
        <p>Name
            </br>
            <input type="text" name="name" id="#" value="" placeholder="Full Beer Name">
        </p>
        <p>Description
            </br>
            <textarea type="" name="description" id="" value="" placeholder=""></textarea>
        </p>
        <p>Picture Path
            </br>
            <!--
            {% if value!="" %}
                <input type="text" name="Picture Path" id="#" value="" placeholder="image_file_name.jpg">
            {% else %}
                <input type="text" name="Picture Path" id="#" value="stock.jpg" placeholder="image_file_name.jpg">
            {% endif %}
            -->
            <input type="text" name="picture_path" id="#" value="" placeholder="image_file_name.jpg">
        </p>
        <p>Price
            </br>
            <input type="text" name="price" id="#" value="" placeholder="$5.99">
        </p>
        <p>IBU
            </br>
            <input type="number" name="ibu" min="0" max="100" value="" placeholder="30" required="">
        </p>
        <p>ABV
            </br>
            <input type="number" name="abv" min="0" max="100" value="" placeholder="5" required="">
        </p>
        <p>Category
            </br>
            <input type="radio" name="category" id="ipa" value="">IPA
            </br>
            <input type="radio" name="category" id="lager" value="">Lager
            </br>
            <input type="radio" name="category" id="pale ale" value="">Pale Ale
            </br>
            <input type="radio" name="category" id="porter" value="">Porter
            </br>
            <input type="radio" name="category" id="stout" value="">Stout
            </br>
            <input type="radio" name="category" id="triple" value="">Triple
            </br>
            <input type="radio" name="category" id="wheat" value="">Wheat
        </p>
        <input type="submit" name="#" id="#" value="Save New">
        <a href="{{url_for('showAllBeers')}}">Cancel</a>
    </form> 

{% endblock %}
