<title>Specific Beer Details</title>

{% extends "main.html" %}
{% block content %}


    <h1>{{item.name}}</h1>
    <form>
        
            <div class="col-md-12 specific_image">
                <img src="{{item.picture_path}}" alt="Beer Image">
            </div>
            <div class="col-md-12 specific_description">
                <p>{{item.description}}</p>
            </div>
        
        
        </br>
        <div class="col-md-6 price_ibu_abv">
            <div class="col-md-4 price">
                <p>Price: {{item.price}}</p>
            </div>
            <div class="col-md-4 ibu">
                <p>IBU: {{item.ibu}}</p>
            </div>
            <div class="col-md-4 abv">
                <p>ABV: {{item.abv}}</p>
            </div>
        </div>
        <div class="col-md-12 POST">
            <a href="http://localhost:8000/beers/{{item.id}}/edit">
                <input type="submit" name="Edit" id="#" value="Edit">
            </a>
            <a href="http://localhost:8000/beers/{{item.id}}/edit">
                <input type="submit" name="Delete" id="#" value="Delete">
            </a>
        </div>
    </form>


{% endblock %}
