<title>Specific Beer Details</title>

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

    <!-- Header: Name and retrun to Home Page -->
    <div class="col-md-12 specific_header">
        <div class="col-md-2">
            <a href="{{url_for('showAllBeers')}}">Back Home</a>
        </div>
        <h1>{{item.name}}</h1>
    </div>
    
    <form>
        <!-- Image and Description -->
        <div class="col-md-12 specific_image">
            <img src="{{item.picture_path}}" alt="Image of a Beer">
        </div>
        <div class="col-md-12 specific_description">
            <p>{{item.description}}</p>
        </div>   
        <!-- Price, IBU, ABV -->
        
        </br>
        <div class="col-md-6 price_ibu_abv">
            <div class="col-md-3 price">
                <p>Price: {{item.price}}</p>
            </div>
            <div class="col-md-3 ibu">
                <p>IBU: {{item.ibu}}</p>
            </div>
            <div class="col-md-3 abv">
                <p>ABV: {{item.abv}}</p>
            </div>
            <div class="col-md-3 category_id">
                <p>Category: {{item.category.name}}</p>
            </div>
        </div>

        <!-- Edit and Delete buttons. -->
        <div class="col-md-12 specific_POST">
            <a href="{{url_for('editBeer', item_id = item.id)}}">Edit</a>
            <a href="{{url_for('deleteBeer', item_id = item.id)}}">Delete</a>
        </div>
    </form>


{% endblock %}
