<title>Landing Page: All Beers</title>
    
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}


    <h1>Laurence Brewing and Distributing CO.</h1>
    <div class=" col-md-12 header">
        <div class="col-md-6 all_image">
            <a href="{{url_for('showAllBeers')}}"><img src="../static/images/ibu_vs_abv.jpeg" alt="Image of a graph of IBU (bitterness) vs. ABV (alcohol content)."></a>
        </div>
        <!-- Templates dynamically generating the appropriate 'category'. -->
        <div class=" col-md-5 beer_categories">
        <h2>Beer Styles</h2>
        {% for category in categories %}
            <div class="col-md-12">
                <a href="/beers?category_id={{category.id}}"><h3>{{category.name}}</h3></a>
            </div>
        {% endfor %}
        </div>
    </div>
    </br>

    <!-- -->
    <div class="col-md-12 create_new_beer">
        <a href="{{url_for('newBeer')}}"><input type="submit" name="#" id="#" value="Create a NEW Beer"></a>
    </div>

    <!-- Templating dynamically generates the appropriate 'picture', 'beer name', and 'beer' description. -->
    {% for item in items %}
    <a href="{{url_for('showSpecificBeer', item_id = item.id)}}">
    <div class="col-md-12 list_of_beers">
        <div class="col-md-3">
            <img src="{{item.picture_path}}" alt="Image of a Beer.">
        </div>
        <div class="col-md-8">
            <h3>{{item.name}}</h3>
            </br>
            <!-- Find a way to dynamically cut this off at 100 characters -->
            <p>{{item.description}}</p>
        </div>
    </div>
    </a>
    {% endfor %}
  

{% endblock %}
