<title>Landing Page: All Beers</title>
    
{% extends "main.html" %}
{% block content %}

    <h1>Laurence Brewing and Distributing CO.</h1>
    <div class=" col-md-12 header">
        <div class="col-md-6 image">
            <img src="../static/images/ibu_vs_abv.jpeg" alt="Sorry, image failed to load:(">
        </div>
        <!-- Templates dynamically generating the appropriate 'category'. -->
        <div class=" col-md-5 beer_categories">
        <h2>Beer Styles</h2>
        {% for category in categories %}
        <!-- Insert url_for in an a href tag here-->
            <div class="col-md-12">
                <h3><a href="">{{category.name}}</a></h3>
            </div>
        <!-- -->
        {% endfor %}
        </div>
    </div>
        
    <!-- This whole div needs templating so that the appropriate 'picture', 
    'beer name', and 'beer' description are dynamically generated. -->
    <div class="col-md-12 list_of_beers">
        <div class="col-md-3">
            <img src="../static/images/ipa.jpg" alt="Sorry, image failed to load:(">
        </div>
        <div class="col-md-8">
            <h3>Cold IPA</h3>
            </br>
            <!-- Find a way to dynamically cut this off at 100 characters -->
            <p>Short description about beer that cuts off at 100 characters. Which means this is what it will lo...</p>
        </div>
    </div>

    <div class="col-md-12 list_of_beers">
        <div class="col-md-3">
            <img src="../static/images/lager.jpg" alt="Sorry, image failed to load:(">
        </div>
        <div class="col-md-8">
            <h3>Yuengling Lager</h3>
            </br>
            <!-- Find a way to dynamically cut this off at 100 characters -->
            <p>Short description about beer that cuts off at 100 characters. Which means this is what it will lo...</p>
        </div>
    </div>

  

{% endblock %}

















