<title>Landing Page: All Beers</title>
    
{% extends "main.html" %}
{% block content %}


    <h1>Laurence Brewing and Distributing CO.</h1>
    <div class=" col-md-12 header">
        <div class="col-md-6 all_image">
            <a href="http://localhost:8000/beers"><img src="../static/images/ibu_vs_abv.jpeg" alt="Sorry, image failed to load:("></a>
        </div>
        <!-- Templates dynamically generating the appropriate 'category'. -->
        <div class=" col-md-5 beer_categories">
        <h2>Beer Styles</h2>
        {% for category in categories %}
        <!-- Insert url_for in an a href tag here-->
            <div class="col-md-12">
                <a href="/beers?category_id={{category.id}}"><h3>{{category.name}}</h3></a>
            </div>
        <!-- -->
        {% endfor %}
        </div>
    </div>
    </br>

    <div class="col-md-12 all_new_button">
        <a href="http://localhost:8000/beers/new"><input type="submit" name="#" id="#" value="Create a NEW Beer"></a>
    </div>
        
    <!-- Templating dynamically generates the appropriate 'picture', 'beer name', and 'beer' description. -->
    {% for item in items %}
    <a href="http://localhost:8000/beers/{{item.id}}">
    <div class="col-md-12 list_of_beers">
        <div class="col-md-3">
            <img src="{{item.picture_path}}" alt="Sorry, image failed to load:(">
        </div>
        <div class="col-md-8">
            <h3>{{item.name}}</h3>
            </br>
            <!-- Find a way to dynamically cut this off at 100 characters -->
            <p>{{item.description}}</p>
        </div>
    </div>
    </a>
    {% endfor %}
  

{% endblock %}
